
@model LoginViewModel

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Login</h1>
            <p class="lead text-muted">Log In and Keep Chasing Your Next Milestone!</p>
        </div>
    </div>
</section>

<section>
    <div class="row justify-content-center">
        <div class="col-12 col-md-4">
            @if (TempData["Error"] != null)
            {
                <div class="col-md-12 alert alert-danger">
                    <span><b>Sorry!</b> - @TempData["Error"]</span>
                </div>
            }
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="EmailAddress" class="control-label"></label>
                    <input asp-for="EmailAddress" class="form-control form-control-lg">
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control form-control-lg" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary btn-lg w-100" type="submit">Log In</button>
                </div>
                <div class="mb-3 text-center">
                    <a asp-controller="Account" asp-action="Register">Register account</a>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}