@model EditRaceViewModel

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Edit Race</h1>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-5">
                <form method="POST" enctype="multipart/form-data">
                    <input type="hidden" asp-for="AddressId" />

                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="mb-3">
                        <label asp-for="Title" class="form-label">Title</label>
                        <input asp-for="Title" type="text" class="form-control form-control-lg placeholder="Title">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Description" class="form-label">Description</label>
                        <input asp-for="Description" type="text" class="form-control form-control-lg placeholder="Description">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="RaceCategory" class="form-label">Race Category</label>
                        <select asp-for="RaceCategory" asp-items="@Html.GetEnumSelectList<RaceCategory>()" class="form-select form-select-lg">
                            <option>--Select--</option>
                        </select>
                        <span asp-validation-for="RaceCategory" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Address.Street" class="form-label">Street</label>
                        <input asp-for="Address.Street" type="text" class="form-control form-control-lg placeholder="Street">
                        <span asp-validation-for="Address.Street" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Address.City" class="form-label">City</label>
                        <input asp-for="Address.City" type="text" class="form-control form-control-lg placeholder="City">
                        <span asp-validation-for="Address.City" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Address.State" class="form-label">State</label>
                        <input asp-for="Address.State" type="text" class="form-control form-control-lg placeholder="State">
                        <span asp-validation-for="Address.State" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Image" class="form-label">Image</label>
                        <input asp-for="Image" type="file" class="form-control form-control-lg placeholder="Image">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary btn-lg w-100">Submit</button>
                    </div>

                    <div class="mb-3 text-center">
                        <a asp-controller="Race" asp-action="Index">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

